body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    text-align: center;
}
    .banner img {
        height: 65px;
        padding: 10px;
    }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.copyright {
    text-align: center;
    font-size: x-small;
}

.bumper {
    padding-top: 80px;
}

/*sidebar*/
.bd-toc-item.active > .bd-toc-link {
    color: rgba(0,0,0,.85);
}

.bd-sidebar .nav > li > a {
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;
    color: rgba(0,0,0,.65);
    text-decoration: none;
    background-color: transparent;
}

    .bd-sidebar .nav > li > a:hover {
        display: block;
        font-weight: bold;
        padding: .25rem 1.5rem;
        font-size: 90%;
        color: rgba(0,0,0,.75);
        text-decoration: none;
        background-color: transparent;
    }