﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<table border="0" cellpadding="30" cellspacing="0" height="600" width="789">
    <tbody>
        <tr></tr>
        <tr>
            <td valign="top">
                <table width="403" height="511" border="0" align="left" cellpadding="5" cellspacing="0" bgcolor="#ffffff">

                    <tbody>
                        <tr>
                            <td valign="top">
                                <font face="Arial, Helvetica, sans-serif">
                                    ProActive
                                    Technologies, Inc.<br>
                                    5712 Dot Com Court<br>
                                    Oviedo, Florida 32765<br>
                                    321.319.0440<br>
                                    fax 321.319.0445
                                    <p>
                                        <br>
                                        To contact us by email, click <a href="mailto:contact@proactivetechinc.com">HERE</a><br>
                                        Contact <a href="mailto:webmaster@proactivetechinc.com">Webmaster</a>
                                    </p>
                                    <br>
                                    <br>
                                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5712+Dot+Com+Court,+Oviedo,+FL&amp;aq=0&amp;oq=5712+dot+com&amp;sll=27.698638,-83.804601&amp;sspn=13.573977,22.08252&amp;ie=UTF8&amp;hq=&amp;hnear=5712+Dot+Com+Ct,+Oviedo,+Seminole,+Florida+32765&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5712+Dot+Com+Court,+Oviedo,+FL&amp;aq=0&amp;oq=5712+dot+com&amp;sll=27.698638,-83.804601&amp;sspn=13.573977,22.08252&amp;ie=UTF8&amp;hq=&amp;hnear=5712+Dot+Com+Ct,+Oviedo,+Seminole,+Florida+32765&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                                </font>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <img src="images/3327-012.jpg" width="300" height="199">
                <p>
                    <font face="Arial, Helvetica, sans-serif"><strong>Area Hotels </strong></font>
                </p>
                <p>
                    <font face="Arial, Helvetica, sans-serif">
                        • Hampton Inn &amp; Suites
                        Orlando<br>
                    </font><font face="Arial, Helvetica, sans-serif">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;East UCF<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3450 Quandrangle Blvd.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Orlando, FL 32817<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;407.282.0029<br>
                    </font>
                </p>
                <p>
                    <font face="Arial, Helvetica, sans-serif">
                        • Towne Place Suites
                        Marritott<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11801 High Tech Avenue<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Orlando, FL 32817<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;407.243.6100<br>
                    </font>
                </p>
                <p>
                    <font face="Arial, Helvetica, sans-serif">
                        • Holiday Inn<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12125 High Tech Avenue<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Orlando, FL 32817<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;407.275.9000
                    </font>
                </p>
                <p>
                    <br>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
        </tr>
    </tbody>
</table>