﻿@page
@model proactivetechinc.Pages.CustomerAccessModel
@{
    ViewData["Title"] = "Customer Access";
}
<h2>Customer Access</h2>

<div>
    <!--- DO NOT change the names of the variables in this code !!! -->
    B-52 EDMS <a href="https://portal.proactivetechllc.com">LOGIN</a><p></p>
</div>