﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="banner">
    <img src="images/ProActive-Technologies-Inc-1Aug14.jpg" />
</div>
<p>ProActive Technologies provides state-of-the-art hardware and software design engineering and logistical and management support services to the simulation and training marketplaces for Government and private industry.</p><p>Our driving principles of <strong>QUALITY</strong>, <strong>ON-TIME DELIVERY</strong>, and <strong>SERVICE</strong> are achieved as a direct result of our employees' dedication to fulfilling our customers' goals. <strong>INTEGRITY</strong> and <strong>CREDIBILITY</strong> are our foundations.</p><p>
    We stand behind our word and our work. This philosophy is the basis for ProActive Technologies' exceptional reputation with our customers, suppliers, and competitors.
</p>

<a href="http://www.proactivetechinc.com/files/ISOQAR.pdf"><b>The ProActive Technologies Quality Management System is ISO 9001:2015 and AS9100D Certified</b></a>

<p>BREAKING NEWS: June 21, 2016</p>
<p>
    <strong>
        New Contract Award
        A-10 Thunderbolt II Aircrew Training Systems
    </strong>
</p>
<p>ProActive Technologies was awarded a 5 year contract from the USAF to support the A-10 Aircrew Training Systems ATS at Davis-Monthan AFB AZ, Moody AFB GA, Osan AB ROK, Baltimore MD, Boise ID, FT Wayne IN, Selfridge MI, and Whiteman AFB MO. ProActive will provide sustainment services for 22 Full Mission Trainers (FMT), 8 Hand-on-Throttle and Stick (HOTAS) trainers and supporting systems. The services support provided includes, but is not limited to: Contract Logistics Support (CLS) including operation, maintenance, and logistics; Training System Support Center management including analysis, study, design, development, production, installation, integration, test, and delivery of concurrency modifications, system upgrades, enhancements to existing system capabilities, and the insertion of advanced technology into the ATS for the purpose of improving safety, operational suitability, and reliability; and Engineering Change Proposals (ECPs) to ensure the training systems are concurrent with the aircraft. The contract was competitively procured by the Air Force Life Cycle Management Center at Wright-Patterson AFB OH (AFLCMC/WNSK).</p>

<div class="row">
    <div class="col col-sm-4"><img src="images/R-132-Buildings.gif"></div>
    <div class="col col-sm-4"><img src="images/Blackwaters.gif"></div>
    <div class="col col-sm-4"><img src="images/DSCN0095.gif"></div>
    <div class="col col-sm-4"><img src="images/DSCN0296.gif"></div>
    <div class="col col-sm-4"><img src="images/e_3.gif"></div>
    <div class="col col-sm-4"><img src="images/DSCN0295.gif"></div>
</div>