﻿@page
@model proactivetechinc.Pages.ProductsServicesModel
@{
    ViewData["Title"] = "Products Services";
}

<h2>Our Products and Services</h2>
<div class="row">
    <div class="col-sm-12 col-md-9 col-lg-10">
        <p>
            ProActive Technologies performs incremental and total
            lifecycle upgrades and modifications to legacy training
            systems. We have the experience and expertise to service
            the full spectrum of military and commercial training
            systems, in software and hardware development, computer
            architectures, avionics systems, flight and ground-based
            simulation, and real-time embedded systems. We offer a
            variety of COTS open architecture simulation devices and
            software engineering support, with specialized expertise
            in real-time simulation technologies. ProActive provides
            these engineering and technical services from its own
            facilities or at our customers’ facilities. Some of the
            specific upgrades and modifications that we have experience
            with include:
        </p>

        <ul>
            <li>Aircraft systems upgrades                          </li>
            <li>Avionics/instrumentation upgrades                  </li>
            <li>Computer system rehosts                            </li>
            <li>Image generation system upgrades and rehosts       </li>
            <li>Cockpit overhauls                                  </li>
            <li>Motion systems overhauls and upgrades              </li>
            <li>I/O system upgrades                                </li>
            <li>IOS system upgrades                                </li>
            <li>EMS upgrades                                       </li>
            <li>Live and non-live fire range overhauls and upgrades</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-2">

        <img src="images/Anti-Skid.gif">
        <img src="images/DSCN0113.gif">
        <img src="images/Front-view-OFT-on-Stands.gif">
    </div>
</div>
<p>
    Our extensive Contractor Logistics Support (CLS) services
    experience includes design and implementation of product
    lifecycle support plans for daily management, operation,
    maintenance, and repair of training systems, spares,
    and support equipment, and implementation, staffing,
    and operation of the Training System Support Center
    (TSSC).
</p>
<p>
    One of the keys to our ability to successfully execute
    our mission is our depth of experience and expertise
    in a broad range of engineering and support disciplines,
    including <a href="software.htm">software engineering</a>,
    <a href="electrical.htm">electrical engineering</a>,
    <a href="mechanical.htm">mechanical engineering</a>,
    <a href="test.htm">test engineering</a>, and <a href="range.htm">
        range
        systems and equipment support
    </a>.
</p>
<p>
    ProActive employs procedures at CMMI Maturity Level
    3 in a broad range of process areas for the development,
    integration, testing, and delivery of simulation systems.
    Some of these process areas include:
</p>
<ul>
    <li>Requirements development             </li>
    <li>Technical solution                   </li>
    <li>Product integration                  </li>
    <li>Project planning                     </li>
    <li>Process and product quality assurance</li>
    <li>Validation                           </li>
    <li>Verification                         </li>
    <li>Configuration management             </li>
</ul>
<p>
    This maturity level is reflected in the stringent standards
    to which procedures have been formally defined, consistently
    applied, and managed in each process area during the
    development and delivery of simulation and training
    systems. An example of this is served by the steps comprising
    the process ProActive typically employs from contract
    award to delivery. These steps, which cumulatively span
    all the previously stated process areas, are minimally
    as follows:
</p>
<ul>
    <li>Requirements Development         </li>
    <li>Preliminary Design Development   </li>
    <li>Preliminary Design Review        </li>
    <li>Final Software and System Design </li>
    <li>Critical Design Review           </li>
    <li>Software and System Development  </li>
    <li>Code and Unit Test               </li>
    <li>Software Hardware Integration    </li>
    <li>Contractor Preliminary Inspection</li>
    <li>Contractor Final Inspection      </li>
    <li>Government Preliminary Inspection</li>
    <li>Government Final Inspection      </li>
    <li>Deployment                       </li>
    <li>Lifecycle/maintenance support    </li>
</ul>
