﻿@page
@model proactivetechinc.Pages.SeaportEModel
@{
    ViewData["Title"] = "SeaportE";
}
<h2>
    Engineering, Technical, and Programmatic Services
</h2>

<div class="row">
    <div class="col-12 col-md-3 bd-sidebar">

        <nav class="bd-links" id="bd-docs-nav">
            <strong>LINKS</strong>
            <div class="bd-toc-item active">
                <ul class="nav bd-sidenav">
                    <li class="active bd-sidenav-active">
                        <a href="seaporte_quality.htm">Quality Assurance</a>
                    </li>
                    <li class="active bd-sidenav-active">
                        <a href="seaporte_tasks.htm">Task Order Awards</a>
                    </li>
                    <li class="active bd-sidenav-active">
                        <a href="http://www.seaport.navy.mil/default.aspx" target="_blank">
                            Official
                            Government Seaport-e Web Site
                        </a>
                    </li>
                </ul>
            </div>
            <strong>CONTACT US</strong>
            <div class="bd-toc-item active">
                <ul class="nav bd-sidenav">
                    <li class="active bd-sidenav-active">
                        <a href="mailto:seaporte@proactivetechllc.com">ProActive Seaport-e</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <div class="col-sm-12 col-md-9">


        <strong>Contract Number: N00178-10-D-6248</strong>

        <p><strong>Authorized Users:</strong></p>
        <ul>
            <li>Naval Sea Systems Command (NAVSEA)              </li>
            <li>Naval Air Systems Command (NAVAIR)              </li>
            <li>Space and Naval Warfare Systems Command (SPAWAR)</li>
            <li>Naval Supply Systems Command (NAVSUP)           </li>
            <li>Military Sealift Command                        </li>
            <li>Strategic Systems Program (SSP)                 </li>
            <li>Naval Facilities Engineering Command (NAVFAC)   </li>
            <li>Office of Naval Research                        </li>
            <li>US Marine Corps                                 </li>
        </ul>
        <p><strong>Contract Period of Performance:</strong> 15 July 2010 through 4 April 2019 (including award term options)</p>
    </div>

</div>
